@model IEnumerable<Ijustkeeptryingiguess.Models.ServiceOrdre>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aktive Serviceordre</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Serienummer</th>
                <th>Fornavn</th>
                <th>Etternavn</th>
                <th>Mobil Nr</th>
                <th>Email</th>
                <th>Addresse</th>
                <th>Feil beskrivelse</th>
                <th>Bestillingsnummer</th>
                <th>Produkttype</th>
                <th>Mottatt dato</th>
                <th>Årsmodell</th>
                <th>Garanti</th>
                <th>Service</th>
                <th>Reperasjon</th>
                <th>Kommentar fra kunde</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var serviceordre in Model)
            {
                <tr>
                    <td>@serviceordre.Id</td>
                    <td>@serviceordre.Serienummer</td>
                    <td>@serviceordre.Fornavn</td>
                    <td>@serviceordre.Etternavn</td>
                    <td>@serviceordre.Mobil</td>
                    <td>@serviceordre.Email</td>
                    <td>@serviceordre.Addresse</td>
                    <td>@serviceordre.Feil_beskrivelse</td>
                    <td>@serviceordre.Bestillingsnummer</td>
                    <td>@serviceordre.Produkttype</td>
                    <td>@serviceordre.Dato</td>
                    <td>@serviceordre.Aarsmodell</td>
                    <td>@serviceordre.Garanti</td>
                    <td>@serviceordre.Service</td>
                    <td>@serviceordre.Reparasjon</td>
                    <td>@serviceordre.Kunde_kommentar</td>
                    </tr>
            }
        </tbody>
    </table>
</body>
</html>

