@model IEnumerable<Ijustkeeptryingiguess.Models.ServiceOrdre>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Serienummer</th>
                <th>Fornavn</th>
                <th>Etternavn</th>
                <th>Mobil Nr</th>
                <th>Email</th>
                <th>Addresse</th>
                <th>Feil beskrivelse</th>
                <th>Bestillingsnummer</th>
                <th>Produkttype</th>
                <th>Mottatt dato</th>
                <th>Årsmodell</th>
                <th>Garanti</th>
                <th>Service</th>
                <th>Reperasjon</th>
                <th>Kommentar fra kunde</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var serviceordre in Model)
            {
                <tr>
                    <td>@serviceordre.id</td>
                    <td>@serviceordre.serienummer</td>
                    <td>@serviceordre.fornavn</td>
                    <td>@serviceordre.etternavn</td>
                    <td>@serviceordre.mobil</td>
                    <td>@serviceordre.email</td>
                    <td>@serviceordre.addresse</td>
                    <td>@serviceordre.feil_beskrivelse</td>
                    <td>@serviceordre.bestillingsnummer</td>
                    <td>@serviceordre.produkttype</td>
                    <td>@serviceordre.dato</td>
                    <td>@serviceordre.aarsmodell</td>
                    <td>@serviceordre.Garanti</td>
                    <td>@serviceordre.Service</td>
                    <td>@serviceordre.Reparasjon</td>
                    <td>@serviceordre.kunde_kommentar</td>

                </tr>
            }
        </tbody>
    </table>
</body>
</html>

