<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <nav>
        <div class="logo">Nøsted &</div>
        <div class="nav-items">
            <a href="@Url.Action("Produkter", "Home")">Produkter</a>
          

            <a href="@Url.Action("Sjekkliste", "Home")">Sjekkliste</a>
            <a href="@Url.Action("Lager", "Home")">Lager</a>
            <a href="@Url.Action("Vaktliste", "Home")">Vaktliste</a>
            <a href="@Url.Action("Service", "Home")">Service</a> 
            <a href="@Url.Action("ServiceOrdre", "Home")">ServiceOrdre</a>
        </div>
    </nav>
</body>
</html>

