@model Ijustkeeptryingiguess.Models.SalesLeadEntity

@{
    ViewData["Title"] = "Details";
}

<!-- Overskrift for detaljsiden -->
<h1>Details</h1>

<!-- Visning av informasjon om salgsledelseenheten -->
<div>
    <h4>SalesLeadEntity</h4>
    <hr />

    <!-- Definisjonslister for å vise detaljer om salgsledelseenheten -->
    <dl class="row">
        <!-- Fornavn -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <!-- Etternavn -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <!-- Mobilnummer -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <!-- E-postadresse -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <!-- Kilde -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
    </dl>
</div>

<!-- Lenker for å redigere og gå tilbake til listen over salgsledelseenheter -->
<div>
    <!-- Lenke for å redigere enheten, med ID som en ruteparameter -->
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |

    <!-- Lenke for å gå tilbake til listen over salgsledelseenheter -->
    <a asp-action="Index">Back to List</a>
</div>
